:root {
  --accent-color: #03d4fc;
  --main-color: #013185;
  --second-color: #025cb8;
  --third-color: #333432;
  --text-color: #f4f8f8;
  --box-shadow: #03d4fc 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
