:root {
  --main-color: #212121;
  --brand-color: #2196f3;
  --second-color: #757575;
  --third-color: #ffffff;
  --bgd-scl: #f5f4fa;
  --count-cards: 4;
  --dst-between: 30px;

  --animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
