:root {
  --text-color: #03d4fc;
  --main-color: #013185;
  --second-color: #025cb8;
  --accent-color: #f4f8f8;

  //--count-cards: 4;
  //--dst-between: 30px;

  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
