:root {
  --accent-color: #03d4fc;
  --main-color: #013185;
  --second-color: #025cb8;
  --third-color: #333432;
  --text-color: #f4f8f8;
  --box-shadow: #03d4fc 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
ul,
p,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: var(--text-color);
  background-color: var(--main-color);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.scroll-up {
  position: sticky;
  bottom: 0;
  transform: translate(calc(100dvw - 65px), 50px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--text-color);
  stroke: var(--text-color);
  fill: var(--text-color);
  background-color: var(--main-color);
  transition-property: border, stroke, fill, background-color;
  transition: 1.5s;
  transition-timing-function: var(--timing-function);
  cursor: pointer;
}
.scroll-up:hover, .scroll-up:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
}
.scroll-up.is-show {
  transition: 1.5s;
  transform: translate(calc(100dvw - 65px), -50px);
}

.section {
  padding: 50px 0 30px;
}

.section__title {
  margin-bottom: 30px;
  font-size: 33px;
  text-align: center;
}

.section__subtitle {
  margin-bottom: 20px;
  font-size: 18px;
}
.section__subtitle.sticky {
  padding: 10px;
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .section__subtitle.sticky {
    position: sticky;
    top: 52px;
    z-index: 1;
    top: 92px;
  }
}

.info__text {
  line-height: 1.5;
}
.info__text.description {
  margin-bottom: 30px;
}

.info__list__title {
  margin-bottom: 10px;
  font-size: 16px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}
.info__list:not(:last-child) {
  margin-bottom: 30px;
}

.route-wrp {
  padding: 20px;
  border: 2px solid var(--second-color);
}
.route-wrp:not(:last-child) {
  margin-bottom: 30px;
}

.docs__text {
  line-height: 1.5;
}
.docs__text:not(:last-child) {
  margin-bottom: 10px;
}
.docs__text.description {
  margin-bottom: 30px;
}
.docs__text.description.table-schema {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.query-params {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: var(--accent-color);
  background-color: var(--third-color);
}

.swagger_link {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition-property: border, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
}
.swagger_link:hover, .swagger_link:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
}

.accent-text {
  display: inline-flex;
  flex-direction: column;
  padding: 5px 10px;
  letter-spacing: 0.04rem;
  background-color: var(--third-color);
  width: 100%;
  overflow-x: scroll;
}

.docs_link {
  padding: 5px 10px;
  margin-left: 5px;
  border: 1px solid var(--text-color);
  text-decoration: none;
  color: var(--text-color);
  transition-property: border, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
}
.docs_link:hover, .docs_link:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
}

.docs_image {
  margin: 0 auto;
}
.docs_image:not(:last-child) {
  margin: 0 auto 30px auto;
}

.section__route {
  margin: 0 0 20px 50px;
  font-size: 18px;
}

.docs__list__title {
  margin-bottom: 10px;
  font-size: 16px;
}

.docs__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}
.docs__list:not(:last-child) {
  margin-bottom: 30px;
}

.users__link {
  color: var(--text-color);
}

.route-nav {
  display: none;
  position: sticky;
  top: 52px;
  z-index: 2;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .route-nav {
    display: block;
  }
}

.contacts_section {
  padding: 30px 0;
}

.contacts_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .contacts_list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.contacts_item_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  transition-property: color, border, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
}
.contacts_item_link:hover, .contacts_item_link:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 768px) {
  .contacts_item_link {
    height: 100px;
    width: 100%;
    padding: 20px;
  }
}

.contacts_item_title {
  margin-bottom: 10px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .contacts_item_title {
    font-size: 18px;
  }
}

.contacts_item_subtitle {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .contacts_item_subtitle {
    font-size: 16px;
  }
}

.header {
  position: sticky;
  top: 0;
  padding: 5px 0;
  border-bottom: 2px solid var(--text-color);
  background-color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 15px 0;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}
.menu.menu__routes {
  gap: 0;
  justify-content: space-between;
}

.menu__link {
  padding: 5px 20px 10px;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid transparent;
  transition-property: border, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
}
.menu__link:hover, .menu__link:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
}

.burger__menu,
.burger__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: inherit;
}
.burger__menu svg,
.burger__close svg {
  stroke: var(--text-color);
}
@media screen and (min-width: 768px) {
  .burger__menu,
  .burger__close {
    display: none;
  }
}

.burger__close {
  position: absolute;
  top: 5px;
  left: 15px;
}

.burger__modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-260px);
  z-index: 200;
  width: 260px;
  height: 100dvh;
  padding: 30px;
  background-color: var(--third-color);
  transition-property: transform;
  transition: 1s;
  transition-timing-function: var(--timing-function);
}
.burger__modal nav {
  margin-top: 22px;
}
.burger__modal.is-open {
  transform: translateX(0);
  transition: 1s;
}

.burger__modal-menu,
.burger__modal-menu.submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.burger__modal-menu.submenu {
  margin-left: 50px;
}

.burger__modal-link {
  padding: 5px 20px 10px;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
}

.footer {
  padding: 15px 0;
  border-top: 2px solid var(--text-color);
}

.footer__text {
  font-size: 14px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */