<section class="section__title" id="docs">
  <div class="container">
    <h2 class="section-title">Документація</h2>

    <a class="swagger_link" href="/api-v1/doc/">перехід на Swagger сторінку</a>

    <p class="docs__text description">
      У проекті підключена база даних SQLite, вона як файл знаходиться на
      сервері разом з кодом. До неї не підключено окремого UI, тому доступ до
      даних тільки через консоль або АРІ.
    </p>

    <p class="docs__text description">
      База має кілька таблиць
      <a
        class="docs_link"
        href="https://dbdiagram.io/d/posts-sqlite-662f55c25b24a634d00bd7b7"
        target="_blank"
        rel="noopener noreferrer"
        >посилання на схему</a
      >
    </p>

    <img
      class="docs_image"
      src="./images/db-schema.png"
      alt="схема таблиць бази даних"
      height="1000"
      width="1000"
    />

    <h3 class="section__subtitle">User</h3>
    ${require('_users.html')}

    <h3 class="section__subtitle">Roles</h3>
    ${require('_roles.html')}

    <h3 class="section__subtitle">Plans</h3>
    ${require('_plans.html')}

    <h3 class="section__subtitle">Posts</h3>
    ${require('_posts.html')}

    <h3 class="section__subtitle">Comments</h3>
    ${require('_comments.html')}

    <h3 class="section__subtitle">Books</h3>
    ${require('_books.html')}

    <h3 class="section__subtitle">Genres</h3>
    ${require('_genres.html')}
  </div>
</section>
