<section class="section">
  <div class="container">
    <h2 class="section__title">Інформація про ресурс</h2>

    <h3 class="section__subtitle">
      Перед вами тренувальний проект для безробітних людей, які хочуть здобути
      практичні навички.
    </h3>

    <p class="info__text description">
      Тут написано структуру, яку можна подати як стрічку з публікацій і їх
      перемішувати з книгами. Під публікаціями можна залишати коментарі. Книги
      мають вартість і кількість тому можуть продаватись. Заплановано три ролі
      користувачів: покупець - може робити публікації і коментарі; автор - може
      робити речі як покупець, але і публікувати книги на продаж; адмін - має
      трішки більше доступу до інформації. Також у користувача може бути
      застосована підписка на ресурс, тут же відмічається статус оплати.
    </p>

    <h4 class="info__list__title">
      Не написано, але могли би бути у реальному проекті:
    </h4>
    <ul class="info__list">
      <li class="info__text">
        Зворотній звʼязок з адміністором (підключення email)
      </li>
      <li class="info__text">Платіжний сервіс</li>
      <li class="info__text">
        Розділ даних і маршрути по оплатам за книги і підписки
      </li>
      <li class="info__text">
        Кабінет автора з його власною статистикою про продажі книг
      </li>
      <li class="info__text">Модерація контенту зі сторони адміна</li>
      <li class="info__text">Резервне копіювання бази і файлів</li>
    </ul>

    <h4 class="info__list__title">Кому це може бути цікаво?</h4>
    <ul class="info__list">
      <li class="info__text">дизайнерам</li>
      <li class="info__text">тестувальникам</li>
      <li class="info__text">фронтенд розробникам</li>
      <li class="info__text">мобільним розробникам</li>
      <li class="info__text">бекенд розробникам (node js)</li>
    </ul>

    <h4 class="info__list__title">Що я пропоную?</h4>
    <ul class="info__list">
      <li class="info__text">
        Ознайомитися з структурою АРІ. Тут можна зробити сайт або додаток
        будь-якої складності, імітувати процесси, які ви захочете. Вже відправна
        точка написана.
      </li>
      <li class="info__text">
        Подумати чи цікаво зробити свій практичний проект на базі цього АРІ.
      </li>
      <li class="info__text">
        Зробити власний проект самостійного або з колегою і показати іншим.
      </li>

      <li class="info__text">
        Розмістити свій проект в резюме або мій як місце здобуття практики.
      </li>
    </ul>

    <h4 class="info__list__title">А також:</h4>
    <ul class="info__list">
      <li class="info__text">
        завершені проекти я додам на інфо сторінку серверу.
      </li>
      <li class="info__text">
        додам у розділ "Хто з нами?" учасників з посиланням на профілі у
        LinkedIn
      </li>
      <li class="info__text">
        дизайн проекти зможуть втілити в життя фронтенд розробники. Обрати з
        варіантів дизайнів під цей АРІ.
      </li>
      <li class="info__text">
        живі (на хостингу) сайти зможуть тестувати всі бажаючі.
      </li>
      <li class="info__text">
        для бекенд розробника пропозиція скромна - лише написати оптимізацію
        існуючого коду або розробити нові фітчі. Потім зробимо merge.
      </li>
      <li>
        буде добрим доповненням до вашого проекту супровідний текстовий документ
        з деталями, які ви закладали в логіку. Тоді спеціаліст, який працює на
        вашій базі буде мати краще уявлення що розробляти і тестувати.
      </li>
    </ul>

    <p class="info__text description">
      Останнє і не менш важливе. В термінах роботи ви не обмежені, працюйте в
      своєму режимі коли вам зручно, ставте свої власні терміни щоб проект мав
      окреслені часові межі і не закинули після втрати мотивації. Хостинг АРІ і
      домен працює мінімум рік, а далі подумаємо.
    </p>

    <p class="info__text">
      Я організатор цієї двіжухи. Не маю ніякого комерційного зиску. Зробив АРІ
      бо вчив нові речі для себе, а результатом не шкода поділитися.
      Користуйтесь. Тегніть своїх знайомих, кому це може бути цікаво.
      Навчайтесь. Звʼязок через приватні повідомлення або в коментарях під
      публікацією.
    </p>
  </div>
</section>
