<section class="info_section" id="info">
  <div class="container">
    <h2 class="section-title">Інформація про ресурс</h2>

    <h3 class="section__subtitle">
      Перед вами тренувальний проект для безробітних вовків та вовчиць.
    </h3>

    <h4 class="info__list__title">Кому це може бути цікаво?</h4>
    <ul class="info__list">
      <li>
        <p class="info__text">дизайнерам</p>
      </li>

      <li>
        <p class="info__text">тестувальникам</p>
      </li>

      <li>
        <p class="info__text">фронтенд розробникам</p>
      </li>

      <li>
        <p class="info__text">мобільним розробникам</p>
      </li>

      <li>
        <p class="info__text">бекенд розробникам (node js)</p>
      </li>
    </ul>

    <h4 class="info__list__title">Що я пропоную?</h4>
    <ul class="info__list">
      <li>
        <p class="info__text">Ознайомитися з структурою мого АРІ.</p>
      </li>

      <li>
        <p class="info__text">
          Подумати чи цікаво зробити свій практичний проект на базі цього АРІ
        </p>
      </li>

      <li>
        <p class="info__text">
          Зробити власний проект самостійного або з колегою і показати іншим.
        </p>
      </li>

      <li>
        <p class="info__text">
          Розмістити свій проект в резюме або мій як місце здобуття практики.
        </p>
      </li>
    </ul>

    <h4 class="info__list__title">А також:</h4>
    <ul class="info__list">
      <li>
        <p class="info__text">
          завершені проекти я додам на інфо сторінку серверу.
        </p>
      </li>

      <li>
        <p class="info__text">
          сформую сторінку учасників з посиланням на профілі у LinkedIn
        </p>
      </li>

      <li>
        <p class="info__text">
          дизайн проекти зможуть втілити в життя фронтенд розробники. Обрати з
          варіантів дизайнів під цей АРІ.
        </p>
      </li>

      <li>
        <p class="info__text">
          живі (на хостингу) сайти зможуть тестувати всі бажаючі.
        </p>
      </li>

      <li>
        <p class="info__text">
          для бекенд розробника пропозиція скромна - лише написати оптимізацію
          існуючого коду або розробити нові фітчі. Потім зробимо merge.
        </p>
      </li>

      <li>
        <p class="info__text">
          буде добрим доповненням до вашого проекту супровідний текстовий
          документ з деталями, які ви закладали в логіку. Тоді спеціаліст, який
          працює на вашій базі буде мати краще уявлення що розробляти і
          тестувати.
        </p>
      </li>
    </ul>

    <p class="info__text description">
      Останнє і не менш важливе. В термінах роботи ви не обмежені, працюйте в
      своєму режимі коли вам зручно, ставте свої власні терміни щоб проект мав
      окреслені часові межі і не закинули після втрати мотивації. Хостинг АРІ і
      домен працює мінімум рік, а далі подумаємо.
    </p>

    <p class="info__text description">
      Я організатор цієї двіжухи. Не маю ніякого комерційного зиску. Зробив АРІ
      бо вчив нові речі для себе, а результатом не шкода поділитися.
      Користуйтесь. Тегніть своїх знайомих, кому це може бути цікаво.
      Навчайтесь. Звʼязок через приватні повідомлення або в коментарях під
      публікацією.
    </p>
  </div>
</section>
