<button type="button" class="locations_btn" data-contacts_modal-open>
  menu
  <svg class="locations_pointer" width="10" height="10">
    <use href="#"></use>
  </svg>
</button>

<!-- burger menu -->
<div class="beckdrop is-hidden" data-contacts_modal>
  <div class="contacts_modal">
    <button class="contacts_modal-drop" type="button" data-contacts_modal-close>
      <svg class="contacts_modal-close"></svg>
    </button>

    <nav>
      <ul class="menu">
        <li>
          <a class="menu__link" href="/api-v1">Інформація</a>
        </li>
        <li>
          <a class="menu__link" href="#docs">Документація</a>
        </li>
        <li>
          <a class="menu__link" href="#contacts">Хто з нами?</a>
        </li>
        <li>
          <a class="menu__link" href="#projects">Проекти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
