<h4 class="section__route">/api-v1/create-post</h4>
<p class="docs__text">
  Захищений маршрут. Потребує в заголовку запиту наявність
  <strong>Bearer token (access_token)</strong>. Можна створити публікацію з
  обовʼязковими полями:
</p>
<p class="docs__text query-params">
  { "title": "string", "message": "string" }
</p>
<p class="docs__text description">
  Назад не повертає даних, а тільки статус 204
</p>

<!-- ============================================================ -->

<h4 class="section__route">/api-v1/update-post</h4>
<p class="docs__text">
  Захищений маршрут. Потребує в заголовку запиту наявність
  <strong>Bearer token (access_token)</strong>. Можна оновити дані у власній
  публікації:
</p>
<p class="docs__text query-params">
  { "title": "string", "message": "string" }
</p>
<p class="docs__text description">
  МІнімум одне поле обʼєкта можно оновити. Назад маршрут повертає весь обʼєкт
  публікації.
</p>

<!-- ============================================================ -->

<h4 class="section__route">/api-v1/posts</h4>
<p class="docs__text description">
  Маршрут по якому можна отримати всі публікації з бази. Також можна застосувати
  до запиту налаштування пагінації, якщо передати pageNumber (порядковий номер
  сторінки) і pageSize (кількість обʼєктів на сторінці). Назад маршрут повертає
  масив обʼєктів публікації.
</p>
<p class="docs__text description accent-text">
  <em>Приклад: /api-v1/posts?pageNumber=2&pageSize=5</em>
</p>

<!-- ============================================================ -->

<h4 class="section__route">/api-v1/my-posts</h4>
<p class="docs__text description">
  Захищений маршрут. Потребує в заголовку запиту наявність
  <strong>Bearer token (access_token)</strong>. Можна отримати вибірку власних
  публікацій. Можна застосувати до запиту критерії фільтрування по полю title
  або message.
</p>
<p class="docs__text description accent-text">
  <em>Приклади:</em>
  <em>/api-v1/my-posts?field=title&value=react</em>
  <em>/api-v1/my-posts?field=message&value=best%20practice</em>
</p>
<p class="docs__text description">
  Також можна застосувати налаштування пагінації, якщо передати pageNumber
  (порядковий номер сторінки) і pageSize (кількість обʼєктів на сторінці). Назад
  маршрут повертає масив обʼєктів публікації.
</p>
<p class="docs__text description accent-text">
  <em
    >Приклад:
    /api-v1/my-posts?field=message&value=taras&pageNumber=1&pageSize=5</em
  >
</p>

<!-- ============================================================ -->

<h4 class="section__route">/api-v1/delete-post</h4>
<p class="docs__text">
  Захищений маршрут. Потребує в заголовку запиту наявність
  <strong>Bearer token (access_token)</strong>. Видаляє існуючий пост якщо він
  створений авторизованим користувачем, потрібно надіслати:
</p>
<p class="docs__text query-params">{ "post_id": 0 }</p>
<p class="docs__text">Назад не повертає даних, а тільки статус 204</p>
