.info_section {
  padding: 30px 0;
}

.section__subtitle {
  margin: 20px 0;
  font-size: 16px;
}

.info__list__title {
  margin-bottom: 10px;
  font-size: 16px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.info__text {
  line-height: 1.5;
}

.description:not(:last-child) {
  margin-bottom: 30px;
}
